section.service
  .container
    +blockBox("We work with", "Amazing Services")
    .service-container
      .service-list
        +serviceItem("../images/img-service-icon1.png", "Photography", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quis debitis enim!")
        +serviceItem("../images/img-service-icon2.png", "Web design", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quis debitis enim!")
        +serviceItem("../images/img-service-icon3.png", "Creativity", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quis debitis enim!")
        
          img.service-item-icon(src="../images/img-service-icon3.png")
          .service-item-info
            h3.service-item-title Creativity
            p.service-item-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quis debitis enim!
      .service-list
        +serviceItem("../images/img-service-icon4.png", "Seo", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quis debitis enim!")
        +serviceItem("../images/img-service-icon5.png", "Html/css", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quis debitis enim!")
        +serviceItem("../images/img-service-icon6.png", "Digital", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quis debitis enim!")
          img.service-item-icon(src="../images/img-service-icon6.png")
          .service-item-info
            h3.service-item-title Digital
            p.service-item-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quis debitis enim!