section.story 
  .container 
    +blockBox("Our stories", "Latest blog")
    ul.story-list 
      +storyItem
      +storyItem("./images/img-blog2.png", 14, "Jan", "Lorem ipsum dolor sit", "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur a odit quo quisquam deserunt voluptate.", 992, 42)
      +storyItem("./images/img-blog3.png", 12, "Jan", "Lorem ipsum dolor sit", "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur a odit quo quisquam deserunt voluptate.", 1560, 98)

section.map
  .container 
    .map-content 
      img(src= "./images/img-map-icon.png").map-icon
      h2.map-heading Open Map