section.quote 
  .container 
    .quote-container 
      //- i.fal.fa-angle-left.quote-arrow-left.quote-arrow
      +quoteItem("./images/img-quote-avatar.png", true, desc = "\"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti ratione corrupti vitae dignissimos nisi illo enim commodi volupta sit culpa voluptatem. Doloremque possimus esse quae!\"", author= "Joshua Earle")
      +quoteItem("https://images.unsplash.com/photo-1664575599618-8f6bd76fc670?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwyNnx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60", true, desc = "\"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti ratione corrupti vitae dignissimos nisi illo enim commodi volupta sit culpa voluptatem. Doloremque possimus esse quae!\"", author= "Joshua Earle")
      +quoteItem("https://images.unsplash.com/photo-1664574653006-4d7eb5f1a418?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHw0Nnx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60", true, desc = "\"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti ratione corrupti vitae dignissimos nisi illo enim commodi volupta sit culpa voluptatem. Doloremque possimus esse quae!\"", author= "Joshua Earle")
      
      //- i.fal.fa-angle-right.quote-arrow-right.quote-arrow