.quote {
  padding: 6.5rem 0;
  @include bg($gray-color);
  &-container {
    // @include flexbox(center, space-between);
  }
  &-arrow {
    color: $gray-dark-color;
    cursor: pointer;
    font-size: 4rem;
    padding: 1rem 2rem;
  }
  &-item {
    padding: 0 5.5rem;
    @include flexbox(center);
    height: 22rem;
  }
  &-image {
    @include size(22rem);
    object-fit: cover;
    border-radius: 50%;
    margin-right: 2.5rem;
    flex-shrink: 0;
  }
  &-icon {
    @include size(15rem);
    @include flexbox(center, center);
    border: 3px solid $third-color;
    flex-shrink: 0;
    margin-right: 5.5rem;
  }
  // &-info {
  //   padding-left: 6rem;
  // }
  &-desc {
    font-size: 2rem;
    font-style: italic;
    font-weight: 300;
    line-height: 1.6;
    font-family: $secondary-font;
    margin-bottom: 2.5rem;
    color: $text-color;
    @include textClamp(3);
  }
  &-author {
    font-family: $third-font;
    font-size: 2.4rem;
    padding-left: 7rem;
    position: relative;
    &:before {
      content: "";
      @include absoluteCenter("top");
      @include size(6rem, 4px);
      @include bg($primary-color);
      left: 0;
    }
  }

  // slick slider
  .slick-initialized .slick-slide {
    display: flex;
  }
  .slick-arrow {
    background-color: transparent;
    border: 0;
    color: $gray-dark-color;
    cursor: pointer;
    font-size: 4rem;
    padding: 1rem 2rem;
    @include absoluteCenter("top");
    z-index: 10;
  }
  .slick-prev {
    left: 0;
  }
  .slick-next {
    right: 0;
  }

  @include maxWidth(767px) {
    &-arrow {
      display: none;
    }
    &-item {
      padding: 0;
      flex-direction: column;
      height: auto;
    }
    &-image {
      @include size(15rem);
    }
    &-icon {
      @include size(10rem);
      margin-right: 0;
      img {
        max-width: 50%;
      }
    }
    &-info {
      padding-left: 0;
      margin-top: 3rem;
    }
    &-desc {
      display: block;
      font-size: 1.6rem;
    }
    &-author {
      font-size: 2rem;
    }
  }
}
